body {
  display: flex;
  flex-direction: row;
  height: 520px;
}

.board {
  align-items: center;
  background: orchid;
  display: flex;
  flex: 3;
  justify-content: center;
}

.score {
  background: coral;
  flex: 1;
}

.ludo-board {
  background: white;
  border: 15px solid slategray;
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 420px;
}

.section1 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex: 2;
}

.section2 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.box1 {
  align-items: center;
  background: white;
  flex-direction: row;
  flex: 2;
  justify-content: center;
}

.box2 {
  flex: 1;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.box21 {
  flex: 2;
}

.color-box {
  border-radius: 25px;
  border: 1px solid black;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  height: 75%;
  margin: 20px;
  width: 75%;
}

.color-box-red {
  background: red;
  /* border: 5px solid red; */
}

.color-box-green {
  background: greenyellow;
}

.color-box-blue {
  background: cyan;
}

.color-box-yellow {
  background: yellow;
}

.circle {
  border-radius: 50%;
  background: white;
  border: 1px solid black;
}

.path-vertical {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.path-horizontal {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.grid-item-box {
  border: 0.5px solid;
}

.green:nth-child(3n - 1):not(:nth-child(2)),
.green:nth-child(6) {
  background: greenyellow;
}

.blue:nth-child(3n - 1):not(:nth-child(17)),
.blue:nth-child(13) {
  background: cyan;
}

.red:nth-child(n + 8):nth-child(-n + 12),
.red:nth-child(2) {
  background: red;
}

.yellow:nth-child(n + 7):nth-child(-n + 11),
.yellow:nth-child(17) {
  background: yellow;
}

.winner{
    align-items: center;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.winner h3{
    background: wheat;
}
